
/* Grid Container */


/* Header */

#menu-container {
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding-left: 2rem;
    padding-right: 2rem;
    height: 15vh;
    background-color: gray;
}

#menu-container h1 {
    font-size: 30px;
}

#menu-container a {
    text-decoration: none;
    color: black;
}

#img-menu {
    width: 100px;
}

/* Main */


#main-container {
    height: 85vh;
    padding: 3rem;
}

#buttons-container {
    display: flex;
}

#buttons-container a {
    text-decoration: none;
    background-color: blue;
    padding: .5rem;
    color: white;
    border-radius: 50px;
}

.form-button {
    text-decoration: none;
    background-color: blue;
    padding: .5rem;
    color: white;
    border: none;
    border-radius: 50px;
}

.input-form {
    width: 500px;
}